<nav class="navbar navbar-light bg-light">
    <ul class="nav nav-tabs">
        <li class="nav-item" style="cursor: pointer;" (click)="accountdetail('Receipt')">
            <span class="nav-link active" aria-current="page">Receipt Mapping</span>
        </li>
        <li class="nav-item" style="cursor: pointer;" (click)="accountdetail('Accountdetail')">
            <span class="nav-link">Account Details</span>
        </li>
    </ul>
    <button type="button" class="btn btn-warning" (click)="save()">Save Changes</button>
</nav>


<div style="background-color: white;">
    <!-- Bill page Start -->
    <div class="container" style="margin-top: 10px;padding: 10px;"
        [style.display]="defaultpage_setting[0]['Receipt']['Receipt']">
        <div class="row invoice row-printable">
            <div class="col-md-10">
                <div class="panel panel-default plain" id="dash_0">

                    <div class="panel-body p30">
                        <div class="row">

                            <section class="col-lg-6 ">
                                <div class="invoice-logo logodiv" [style.width]="imageProperty.width"
                                    [style.height]="imageProperty.height" (mouseenter)="hoverhandler('upload_show')"
                                    (mouseleave)="hoverhandler('upload_hide')" (contextmenu)="rightclick($event,'img')">
                                    <img width="100" class="logo" [src]="imageProperty.imgURL" alt="Invoice logo"
                                        [style.display]="imageProperty.display" [style.opacity]="imageProperty.opacity">
                                    <input type="file" #logo class="custom-file-input" id="logo"
                                        (change)="imageupload(logo.files)">
                                    <label type="button" style="position: absolute;" for="logo"
                                        [style.display]="imageLabel" class="btn btn-success btn-lg">Upload Data
                                    </label>
                                </div>
                            </section>

                            <div class="col-lg-6" (contextmenu)="rightclick($event,'header')">
                                <div class="invoice-from" [style.display]="headerProperty.display"
                                    [style.float]="headerProperty.float"
                                    [style.background-color]="headerProperty.bgcolor"
                                    [style.color]="headerProperty.color" [style.height]="headerProperty.height"
                                    [style.width]="headerProperty.width">
                                    <span [style.font-size]="headerProperty.font">{{headerProperty.text}}</span>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="invoice-details mt25" style="background-color: #d6d9d7fc;">
                                    <div class="well">
                                        <ul class="list-unstyled mb0">
                                            <li><strong>Invoice</strong> #936988</li>
                                            <li><strong>Invoice Date:</strong> Monday, October 10th, 2015</li>
                                            <li><strong>Due Date:</strong> Thursday, December 1th, 2015</li>
                                            <li><strong>Status:</strong> <span class="label badge-danger">UNPAID</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="invoice-to mt25">
                                    <ul class="list-unstyled">
                                        <li><strong>Invoiced To</strong></li>
                                        <li>Jakob Smith</li>
                                        <li>Roupark 37</li>
                                        <li>New York, NY, 2014</li>
                                        <li>USA</li>
                                    </ul>
                                </div>
                                <div class="invoice-items">
                                    <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="per70 text-center">Description</th>
                                                    <th class="per5 text-center">Qty</th>
                                                    <th class="per25 text-center">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>XXXXXXX XXXXXXX XXXXX XXXXXXXX XXXXX XXXXXX (12/04/2014 -
                                                        01/03/2015)</td>
                                                    <td class="text-center">X</td>
                                                    <td class="text-center">Rs. XX</td>
                                                </tr>

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="2" class="text-right">Sub Total:</th>
                                                    <th class="text-center">Rs. XX</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2" class="text-right">20% VAT:</th>
                                                    <th class="text-center">Rs. XX</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2" class="text-right">Credit:</th>
                                                    <th class="text-center">Rs. XX</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2" class="text-right">Total:</th>
                                                    <th class="text-center">Rs. XX</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="invoice-footer mt25">
                                    <p class="text-center">Generated on DAY, Month [Date]th, Year <a href="#"
                                            class="btn btn-default ml15"><i class="fa fa-print mr5"></i>Sample Print</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Bill Page-->

    <!-- Account Setting Start-->
    <div class="container" style="margin-top: 10px;padding: 10px;"
        [style.display]="defaultpage_setting[0]['Accountdetail']['Accountdetail']">
        <div class="container light-style flex-grow-1 container-p-y">
            <h4 class="font-weight-bold py-3 mb-4">
                Account settings
            </h4>

            <div class="card overflow-hidden">
                <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-3 pt-0">
                        <div class="list-group list-group-flush account-settings-links">
                            <label class="list-group-item  active" data-toggle="list"
                                (click)="accountdetail('general')">General</label>
                            <label class="list-group-item list-group-item-action" data-toggle="list"
                                (click)="accountdetail('pas')">Change password</label>
                            <label class="list-group-item list-group-item-action" data-toggle="list"
                                (click)="accountdetail('info')">Info</label>
                            <label class="list-group-item list-group-item-action" data-toggle="list"
                                (click)="accountdetail('social')">Social links</label>
                            <label class="list-group-item list-group-item-action" data-toggle="list"
                                (click)="accountdetail('notice')">Notifications</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">

                            <div class="tab-pane fade active show"
                                [style.display]="defaultpage_setting[0]['Accountdetail']['general']">

                                <div class="card-body media align-items-center">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""
                                        class="d-block ui-w-80">
                                    <div class="media-body ml-4">
                                        <label class="btn btn-outline-primary">
                                            Upload new photo
                                            <input type="file" class="account-settings-fileinput">
                                        </label> &nbsp;
                                        <button type="button" class="btn btn-default md-btn-flat">Reset</button>

                                        <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K
                                        </div>
                                    </div>
                                </div>
                                <hr class="border-light m-0">

                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-label">Username</label>
                                        <input type="text" class="form-control mb-1" value="nmaxwell">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Name</label>
                                        <input type="text" class="form-control" value="Nelle Maxwell">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">E-mail</label>
                                        <input type="text" class="form-control mb-1" value="nmaxwell@mail.com">
                                        <div class="alert alert-warning mt-3">
                                            Your email is not confirmed. Please check your inbox.<br>
                                            <a href="javascript:void(0)">Resend confirmation</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Company</label>
                                        <input type="text" class="form-control" value="Company Ltd.">
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade active show"
                                [style.display]="defaultpage_setting[0]['Accountdetail']['pas']">
                                <div class="card-body pb-2">

                                    <div class="form-group">
                                        <label class="form-label">Current password</label>
                                        <input type="password" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">New password</label>
                                        <input type="password" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">Repeat new password</label>
                                        <input type="password" class="form-control">
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade active show"
                                [style.display]="defaultpage_setting[0]['Accountdetail']['info']">
                                <div class="card-body pb-2">

                                    <div class="form-group">
                                        <label class="form-label">Note</label>
                                        <textarea class="form-control"
                                            rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis, vehicula id urna. Sed luctus urna nunc. Donec fermentum, magna sit amet rutrum pretium, turpis dolor molestie diam, ut lacinia diam risus eleifend sapien. Curabitur ac nibh nulla. Maecenas nec augue placerat, viverra tellus non, pulvinar risus.</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Birthday</label>
                                        <input type="text" class="form-control" value="May 3, 1995">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Country</label>
                                        <select class="custom-select">
                                            <option>USA</option>
                                            <option selected="">Canada</option>
                                            <option>UK</option>
                                            <option>Germany</option>
                                            <option>France</option>
                                        </select>
                                    </div>


                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body pb-2">

                                    <h6 class="mb-4">Contacts</h6>
                                    <div class="form-group">
                                        <label class="form-label">Phone</label>
                                        <input type="text" class="form-control" value="+0 (123) 456 7891">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Website</label>
                                        <input type="text" class="form-control" value="">
                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane fade active show"
                                [style.display]="defaultpage_setting[0]['Accountdetail']['social']">
                                <div class="card-body pb-2">

                                    <div class="form-group">
                                        <label class="form-label">Twitter</label>
                                        <input type="text" class="form-control" value="https://twitter.com/user">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Facebook</label>
                                        <input type="text" class="form-control" value="https://www.facebook.com/user">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Google+</label>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">LinkedIn</label>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Instagram</label>
                                        <input type="text" class="form-control" value="https://www.instagram.com/user">
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade active show"
                                [style.display]="defaultpage_setting[0]['Accountdetail']['notice']">
                                <div class="card-body pb-2">

                                    <h6 class="mb-4">Message Notification</h6>

                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input" checked="">
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Blocked Email show</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon3">Blocked Email label</span>
                                            <input type="color" class="form-control form-control-color" value="#563d7c"
                                                title="Choose your color">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon3">Priority Email label</span>
                                            <input type="color" class="form-control form-control-color" value="#563d7c"
                                                title="Choose your color">
                                        </div>

                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body pb-2">

                                    <h6 class="mb-4">Store</h6>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon3">Minimum Product
                                                <small>kg</small></span>
                                            <input type="text" class="form-control" aria-describedby="basic-addon3">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon3">Minimum Product
                                                <small>unit</small></span>
                                            <input type="text" class="form-control" aria-describedby="basic-addon3">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right mt-3">
                <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
                <button type="button" class="btn btn-default">Cancel</button>
            </div>

        </div>
    </div>
    <!-- End Account Setting-->
</div>
<!-- right Click Menu-->

<div class="shadow-lg p-3 mb-5 bg-body rounded" style="position: fixed; background-color: white;"
    [style.display]="AlldisplayMenu.photomenu" [style.left]="menuTopLeftPosition.x" [style.top]="menuTopLeftPosition.y">

    <table class="table ">
        <thead class="thead-light">
            <tr>
                <th scope="col">Edit</th>
                <th scope="col">
                    <button type="button" class="btn-close" style="float: right;" aria-label="Close"
                        (click)="closeimgmenu('img')"></button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Width </th>
                <td><input type="range" class="form-range" #imgwidth min="50" max="300"
                        (change)="onchangeImagemenu('width',imgwidth.value)"></td>
            </tr>
            <tr>
                <th scope="row">Height </th>
                <td><input type="range" #imgheight class="form-range" min="50" max="300"
                        (change)="onchangeImagemenu('height',imgheight.value)"></td>
            </tr>
            <tr>
                <th scope="row">display</th>
                <td>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" (click)="displaymenu('imgdisplay')">
                        {{imageProperty.display}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2"
                        [style.display]="AlldisplayMenu.photomenu_display">
                        <li><label class="dropdown-item active" style="cursor: pointer;"
                                (click)="onchangeImagemenu('display','none')">None</label></li>
                        <li><label class="dropdown-item active" style="cursor: pointer;"
                                (click)="onchangeImagemenu('display','block')">block</label></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th scope="row">Opacity</th>
                <td><input type="range" #imgopacity class="form-range" min="0" max="1" step="0.111"
                        (change)="onchangeImagemenu('opacity',imgopacity.value)"></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- End Right Click Menu-->

<!-- Header Edit -->
<div class="shadow-lg p-3 mb-5 bg-body rounded" style="position: fixed; background-color: white;"
    [style.display]="AlldisplayMenu.headermenu" [style.left]="menuTopLeftPosition.x"
    [style.top]="menuTopLeftPosition.y">

    <table class="table ">
        <thead class="thead-light">
            <tr>
                <th scope="col">Edit</th>
                <th scope="col">
                    <button type="button" class="btn-close" style="float: right;" aria-label="Close"
                        (click)="closeimgmenu('header')"></button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Header Text</th>
                <td><textarea class="form-control"rows="3" (keyup)="headeronchange('text',$event.key)">{{headerProperty.text}}</textarea></td>
            </tr>
            <tr>
                <th scope="row">Font Size </th>
                <td><input type="number" #headerfont class="form-range"
                        (change)="headeronchange('font',headerfont.value)">
                </td>
            </tr>
            <tr>
                <th scope="row">Background Color </th>
                <td><input type="color" #headerbgcolor class="form-range"
                        (change)="headeronchange('bgcolor',headerbgcolor.value)"></td>
            </tr>
            <tr>
                <th scope="row">Text Color </th>
                <td><input type="color" #headercolor class="form-range"
                        (change)="headeronchange('color',headercolor.value)"></td>
            </tr>
            <tr>
                <th scope="row">Width </th>
                <td><input type="range" class="form-range" #headerwidth min="50" max="300"
                        (change)="headeronchange('width',headerwidth.value)"></td>
            </tr>
            <tr>
                <th scope="row">Height </th>
                <td><input type="range" #headerheight class="form-range" min="50" max="300"
                        (change)="headeronchange('height',headerheight.value)"></td>
            </tr>
            <tr>
                <th scope="row">display</th>
                <td>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" (click)="displaymenu('header_display')">
                        {{headerProperty.display}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2"
                        [style.display]="AlldisplayMenu.header_display">
                        <li><label class="dropdown-item active" style="cursor: pointer;"
                                (click)="headeronchange('display','none')">None</label></li>
                        <li><label class="dropdown-item active" style="cursor: pointer;"
                                (click)="headeronchange('display','inline-table')">Inline-table</label></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th scope="row">Float</th>
                <td>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" (click)="displaymenu('header_float')">
                        {{headerProperty.float}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2"
                        [style.display]="AlldisplayMenu.header_float">
                        <li><label class="dropdown-item active" style="cursor: pointer;"
                                (click)="headeronchange('float','right')">Right</label></li>
                        <li><label class="dropdown-item active" style="cursor: pointer;"
                                (click)="headeronchange('float','left')">Left</label></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- End Header Edit -->