<cdk-virtual-scroll-viewport itemSize=10 style="height:834px">
    <div class="card-group" >
    <div *cdkVirtualFor="let num of number" style=" margin: 10px;">
        <div class="card border-success mb-3" style="max-width: 18rem; min-width: 18rem;" >
            <div class="card-header bg-transparent border-success" style="height: 66px; cursor: pointer;" (click)="Productdetails(num['id'])" >Product Name: {{num['title']}}</div>
            <div class="card-body text-success" style="height: 134px;">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some details about Product </p>
            </div>
            <div class="d-flex bd-highlight" style="margin:5px ;">
                <div class="p-2 flex-grow-1 bd-highlight">Price:{{num['id']}}</div>
                <div class="p-2 bd-highlight btn btn-success" style="margin-right: 10px;" (click)="addproduct( num['id'],num['title'] )" >Add</div>
                <div class="p-2 bd-highlight btn btn-success" (click)="delproduct( num['id'],num['title'] )">Del</div>
            </div>
        </div>
    </div>
    </div>
</cdk-virtual-scroll-viewport>
 <!-- Product details -->
 <app-product-details [style.display]="product_details_show"></app-product-details>
 <!-- End Product details-->
 
<!--<div class="cdk-virtual-scroll-data-source-example">
    <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50" class="example-viewport">
      <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div>
    </cdk-virtual-scroll-viewport>
  </div>-->