<div class="container outer">
    <div class="container inner">
        <!-- Message box Template-->
        <div class="col-md-10">
            <div class="row inbox-wrapper">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-lg-12 email-content">
                                    <div class="email-head">
                                        <div class="email-head-subject">
                                            <div class="title d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <span class="active"><span class="icon"><svg
                                                                xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24" fill="none"
                                                                stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                class="feather feather-star text-primary-muted">
                                                                <polygon
                                                                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                                </polygon>
                                                            </svg></span></span>
                                                    <span>New Message</span>
                                                </div>
                                                <div class="icons">
                                                    <span class="icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                            width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                            stroke="currentColor" stroke-width="2"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="feather feather-share text-muted hover-primary-muted"
                                                            data-toggle="tooltip" title=""
                                                            data-original-title="Forward">
                                                            <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                                                            <polyline points="16 6 12 2 8 6"></polyline>
                                                            <line x1="12" y1="2" x2="12" y2="15"></line>
                                                        </svg></span>
                                                    <span class="icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                            width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                            stroke="currentColor" stroke-width="2"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="feather feather-printer text-muted"
                                                            data-toggle="tooltip" title="" data-original-title="Print">
                                                            <polyline points="6 9 6 2 18 2 18 9"></polyline>
                                                            <path
                                                                d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2">
                                                            </path>
                                                            <rect x="6" y="14" width="12" height="8"></rect>
                                                        </svg></span>
                                                    <span class="icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                            width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                            stroke="currentColor" stroke-width="2"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="feather feather-trash text-muted"
                                                            data-toggle="tooltip" title="" data-original-title="Delete">
                                                            <polyline points="3 6 5 6 21 6"></polyline>
                                                            <path
                                                                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div style="height: 750px;  overflow-y: auto;">

                                        <!-- Meassge start-->
                                        <div *ngFor="let item of storedmessage">
                                            <div>
                                                <!-- User Message Start Add Condition -->
                                                <div
                                                    class="email-head-sender d-flex align-items-center justify-content-between flex-wrap">
                                                    <div class="d-flex align-items-center">
                                                        <div class="avatar">
                                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                                alt="Avatar" class="rounded-circle user-avatar-md">
                                                        </div>
                                                        <div class="sender d-flex align-items-center">
                                                            <a href="#">User Name</a> <span>to</span><span>Owner
                                                                Name</span>
                                                            <div class="actions dropdown">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="date">{{item['date']}}</div>
                                                </div>

                                                <div class="email-body">
                                                    <p>Hello,</p>
                                                    <br>
                                                    <p>{{item['message']}}
                                                        <br>
                                                    <p><strong>Regards</strong>,<br> Sender Name</p>
                                                </div>
                                                <div class="email-attachments">
                                                    <div class="title">Attachments <span>File Size </span></div>
                                                    <ul>
                                                        <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="24" height="24" viewBox="0 0 24 24"
                                                                    fill="none" stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-file">
                                                                    <path
                                                                        d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z">
                                                                    </path>
                                                                    <polyline points="13 2 13 9 20 9"></polyline>
                                                                </svg> Reference.zip <span
                                                                    class="text-muted tx-11">(5.10
                                                                    MB)</span></a></li>
                                                        <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="24" height="24" viewBox="0 0 24 24"
                                                                    fill="none" stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-file">
                                                                    <path
                                                                        d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z">
                                                                    </path>
                                                                    <polyline points="13 2 13 9 20 9"></polyline>
                                                                </svg> Instructions.zip <span
                                                                    class="text-muted tx-11">(3.15
                                                                    MB)</span></a></li>
                                                        <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="24" height="24" viewBox="0 0 24 24"
                                                                    fill="none" stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-file">
                                                                    <path
                                                                        d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z">
                                                                    </path>
                                                                    <polyline points="13 2 13 9 20 9"></polyline>
                                                                </svg> Team-list.pdf <span class="text-muted tx-11">(4.5
                                                                    MB)</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End User Message -->
                                            </div>

                                            <div>
                                                <!-- Owner Message Start Add Condition -->
                                                <div
                                                    class="email-head-sender d-flex align-items-center justify-content-between flex-wrap">
                                                    <div class="d-flex align-items-center">
                                                        <div class="avatar">
                                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                                alt="Avatar" class="rounded-circle user-avatar-md">
                                                        </div>
                                                        <div class="sender d-flex align-items-center">
                                                            <span >Owner Name</span> <span>to</span><span>User
                                                                Name</span>
                                                            <div class="actions dropdown">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                

                                                <div class="email-body">
                                                    <p>Hello,</p>
                                                    <br>
                                                    <p>{{item['message']}}
                                                        <br>
                                                    <p><strong>Regards</strong>,<br> Sender Name</p>
                                                </div>
                                                <div class="email-attachments">
                                                    <div class="title">Attachments <span>File Size </span></div>
                                                    <ul>
                                                        <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="24" height="24" viewBox="0 0 24 24"
                                                                    fill="none" stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-file">
                                                                    <path
                                                                        d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z">
                                                                    </path>
                                                                    <polyline points="13 2 13 9 20 9"></polyline>
                                                                </svg> Reference.zip <span
                                                                    class="text-muted tx-11">(5.10
                                                                    MB)</span></a></li>
                                                        <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="24" height="24" viewBox="0 0 24 24"
                                                                    fill="none" stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-file">
                                                                    <path
                                                                        d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z">
                                                                    </path>
                                                                    <polyline points="13 2 13 9 20 9"></polyline>
                                                                </svg> Instructions.zip <span
                                                                    class="text-muted tx-11">(3.15
                                                                    MB)</span></a></li>
                                                        <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="24" height="24" viewBox="0 0 24 24"
                                                                    fill="none" stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-file">
                                                                    <path
                                                                        d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z">
                                                                    </path>
                                                                    <polyline points="13 2 13 9 20 9"></polyline>
                                                                </svg> Team-list.pdf <span class="text-muted tx-11">(4.5
                                                                    MB)</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End Owner Message -->
                                            </div>
                                        </div>
                                        <!--Message End-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Message Box Template-->
    </div>
</div>