.outer {
    max-height: 100% !important;
    background-color: #928d8d99;
    position: absolute;
    top: 0px;
    max-width: 96% !important;
    height: 100%;
    width: 98%;
    z-index: 999;
}
.inner{
    height: 80px;
    width: 100%;
}

.email-head-subject .icons .icon {
color: #000;
margin-left: 12px;
}

.email-head-subject .icons .icon svg {
width: 18px;
}

.email-head-sender {
padding: 13px 25px;
}


.email-head-sender .avatar {
float: left;
margin-right: 10px;
}

.email-head-sender .date {
float: right;
font-size: 12px;
}

.email-head-sender .avatar {
float: left;
margin-right: 10px;
}

.email-head-sender .avatar img {
width: 36px;
}

.email-head-sender .sender > a {
color: #000;
}

.email-head-sender .sender span {
margin-right: 5px;
margin-left: 5px;
}

.email-head-sender .sender .actions {
display: inline-block;
position: relative;
}

.email-head-sender .sender .actions .icon {
color: #686868;
margin-left: 7px;
}

.email-head-sender .sender .actions .icon svg {
width: 18px;
}

.email-body {
background-color: transparent;
border-top: 1px solid #e8ebf1;
padding: 30px 28px;
}


.email-attachments {
background-color: transparent;
padding: 25px 28px 5px;
border-top: 1px solid #e8ebf1;
}


.email-attachments .title {
display: block;
font-weight: 500;
}

.email-attachments .title span {
font-weight: 400;
}

.email-attachments ul {
list-style: none;
margin: 15px 0 0;
padding: 0;
}

.email-attachments ul > li {
margin-bottom: 5px;
}

.email-attachments ul > li:last-child {
margin-bottom: 0;
}

.email-attachments ul > li a {
color: #000;
}

.email-attachments ul > li a svg {
width: 18px;
color: #686868;
}

.email-attachments ul > li .icon {
color: #737373;
margin-right: 2px;
}

.email-attachments ul > li span {
font-weight: 400;
}

.rtl .email-head-subject .title a .icon {
margin-right: 0;
margin-left: 6px;
}

.rtl .email-head-subject .icons .icon {
margin-left: 0;
margin-right: 12px;
}

.rtl .email-head-sender .avatar {
margin-right: 0;
margin-left: 10px;
}

.rtl .email-head-sender .sender .actions .icon {
margin-left: 0;
margin-right: 7px;
}

.email-head-title {
padding: 15px;
border-bottom: 1px solid #e8ebf1;
font-weight: 400;
color: #3d405c;
font-size: .99rem;
}

.email-head-title .icon {
color: #696969;
margin-right: 12px;
vertical-align: middle;
line-height: 31px;
position: relative;
top: -1px;
float: left;
font-size: 1.538rem;
}

.email-compose-fields {
background-color: transparent;
padding: 20px 15px;
}
.card {
box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}
.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid #f2f4f9;
border-radius: 0.25rem;
}
.badge {
padding: 6px 5px 3px;
}
.text-white {
color: #ffffff !important;
}
.font-weight-bold {
font-weight: 700 !important;
}
.float-right {
float: right !important;
}
.badge-danger-muted {
color: #212529;
background-color: #f77eb9;
}