
<div>

    <!--slider 1 bags------------------------------------------>
    <div class="heading">
        <h1>P R O D U C T &emsp; T Y P E &emsp; 1 </h1>

    </div>
    <!--swiper slider-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--slide 1-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



            <!--slide 2-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 3-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 4-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



            <!--slide 5-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 6-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>







            <!--slide 7-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 8-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 9-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



            <!--slide 10-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



        </div>

    </div>

    <!--swiper  slider end-->


    <!--slider 1 bags------------------------------------------>
    <div class="heading">
        <h1>P R O D U C T &emsp;   T Y P E &emsp;   1 </h1>

    </div>
    <!--swiper slider-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--slide 1-------------------------------------->
            <div class="swiper-slide" (click)="slidedata()">
                <div class="slider-box">
                    <p class="time">New1</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



            <!--slide 2-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 3-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 4-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



            <!--slide 5-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 6-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>







            <!--slide 7-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 8-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 9-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



            <!--slide 10-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



        </div>

    </div>



    <!--slider 1 bags------------------------------------------>
    <div class="heading">
        <h1>P R O D U C T &emsp; T Y P E &emsp; 1 </h1>

    </div>
    <!--swiper slider-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--slide 1-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



            <!--slide 2-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 3-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 4-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



            <!--slide 5-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 6-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>







            <!--slide 7-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 8-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 9-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="assets/images/user.jpg">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



            <!--slide 10-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="">
                    </div>

                    <p class="detail">Black ladies bags collections

                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



        </div>

    </div>
</div>


